<div class="row">
	<div class="large-12 medium-12 columns">
		<br>
		<img src="/assets/InformesdeGesitión.png">
		<br>
		<div class="panel callout text-center small-8 small-centered columns">
		  <p>Para <strong>descargar</strong> algún documento dar <strong>click</strong> en el nombre del archivo.</p>
		</div>
		<hr>

		
			<div class="large-4 medium-4 columns end">
				<table style="margin:auto;">
				  <thead>
				    <tr>
					    <th><%= @fifth_category.name %></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
	    			<% @fifth_category.documents.each do |document| %>
				    	<td>
					    	<%= link_to "#{document.title}", attachment_url(document, :file) %> 
							<img src="/assets/pdf-icon.png" style="width: 80px; height: 80px;">
						</td>
				    <% end %>
				    </tr>
				  </tbody>
				</table>
			</div>

		<%= paginate @categories %>

	</div>
</div>