<div class="row">
	<div class="large-12 medium-12 columns">
		<br>
		<h1 class="text-center" style="font-size: 55px;">Informes de Gestión</h1>
		<br>
		<div class="panel callout text-center small-8 small-centered columns">
		  <p>Para <strong>descargar</strong> algún documento dar <strong>click</strong> en el nombre del archivo.</p>
		</div>
		<hr>



	</div>
</div>