<div class="row">
	<div class="large-12 medium-12 columns">
		<br>
		<h1 class="text-center" style="font-size: 55px;">Normatividad</h1>
		<br>
		<hr>
		<ul class="tabs vertical" data-tab>
		  <li class="tab-title active"><a href="#panel11" style="color: white" >Decretos</a></li>
		  <li class="tab-title"><a href="#panel21" style="color: white" >Leyes</a></li>
		  <li class="tab-title"><a href="#panel31" style="color: white" >Resoluciones</a></li>
		</ul>
		<div class="tabs-content">
		  <div class="content active" id="panel11">
		    
		  </div>
		  <div class="content" id="panel21">
		    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
		  </div>
		  <div class="content" id="panel31">
		    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
		  </div>
		</div>
	</div>
</div>