<div class="row">
	<div class="large-12 medium-12 columns">
		<br>
		<h1 class="text-center" style="font-size: 55px;">Normatividad</h1>
		<br>
		<hr>
    	<% @categories.first(3).each do |category| %>
			<div class="large-4 medium-4 columns end">
				<table>
				  <thead>
				    <tr>
					    <th><%= category.name %></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
	    			<% category.documents.each do |document| %>
				    	<td>
					    	<%= link_to "#{document.title}", attachment_url(document, :file) %> 
							<img src="/assets/pdf-icon.png" style="width: 80px; height: 80px;">
						</td>
				    <% end %>
				    </tr>
				  </tbody>
				</table>
			</div>
	    <% end %>
	</div>
</div>