<div class="row">
	<div class="large-12 medium-12 columns">
		<br>
		<img src="/assets/Nuestra Entidad.png">
		<br>
		<hr>
		<div class="small-12 large-centered columns show-for-large-up">
			<ul class="tabs" data-tab role="tablist">
			  <li class="tab-title"><a href="#panel2-1" class="text-center"style="width: 300px; border-bottom-style: outset; border-radius: 40px;margin-left:10px;">Organigrama</a></li>
			  <li class="tab-title active"><a href="#panel2-2" class="text-center"style="width: 300px; border-bottom-style: outset; border-radius: 40px;margin-left:10px;">Misión y Visión</a></li>
			  <li class="tab-title"><a href="#panel2-3" class="text-center"style="width: 300px; border-bottom-style: outset; border-radius: 40px;margin-left:10px;">Objetivos y Funciones</a></li>
			</ul>
		</div>

		<div class="tabs-content show-for-large-up">
		  <section role="tabpanel" aria-hidden="false" class="content" id="panel2-1">
		  <hr>
		    <img src="/assets/org.png" style="margin-left:20%;">
		  </section>


		<section role="tabpanel" aria-hidden="true" class="content active" id="panel2-2">
		<hr>
		<div class="large-6 medium-6 columns">
		<img src="/assets/Misión.png">

		<p class="text-justify">Somos una empresa administradora y fiscalizadora de los recursos del monopolio rentístico de los juegos de suerte y azar en Caldas, con dedicación y transparencia, buscamos el desarrollo de una cultura en torno a la legalidad en los juegos de suerte y azar en procura de una maximización de los recursos que van dirigidos al cubrimiento de la salud de la población menos favorecida del Departamento.</p>
		</div>

		<div class="large-6 medium-6 columns">
		<img src="/assets/Visión.png">
		<p class="text-justify">Para finales del <%= Time.now.year %>, seremos reconocidos como modelo de organización en el Departamento, con los más altos estándares de credibilidad, responsabilidad y transparencia en la administración y fiscalización de los recursos del monopolio rentístico de los juegos de suerte y azar.</p>
		</div>
		  </section>
		  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
		    <hr>
	    	
				<h3 class="text-center"> <strong>OBJETIVO PRINCIPAL DE EDSA:</strong></h3>
	        	<p>Ejercer el monopolio (facultad exclusiva del Estado para explotar, organizar, administrar, operar, controlar, fiscalizar, regular y vigilar las modalidades de juegos de suerte y azar (Chance y Rifas), y para establecer las condiciones en las cuales los particulares pueden operarlos, facultad que siempre se debe ejercer como actividad que debe respetar el interés público y social y con fines de arbitrio rentístico a favor de los servicios de salud. </p>
	        	<hr>


	        	<h5><strong>PRINCIPIOS QUE RIGEN LA EXPLOTACIÓN, ORGANIZACIÓN, ADMINISTRACIÓN, OPERACIÓN, FISCALIZACIÓN Y CONTROL DE JUEGOS DE SUERTE Y AZAR</strong></h5> 

	        	<p>La gestión de juegos de suerte y azar se realizará de acuerdo con los siguientes principios: </p>
	        	<ul class="circle">
	    	    	<li>Finalidad social prevalente. Todo juego de suerte y azar debe contribuir eficazmente a la financiación del servicio público de salud, de sus obligaciones prestacionales y pensionales. </li>
	        	
	        		<li>Transparencia. El ejercicio de la facultad monopolística se orientará a garantizar que la operación de los juegos de suerte y azar, esté exenta de fraudes, vicios o intervenciones tendientes a alterar la probabilidad de acertar, o a sustraerla del azar. </li>
	        	
	        		<li>Racionalidad económica en la operación. La operación de juegos de suerte y azar se realizará por las entidades estatales competentes, o por los particulares legalmente autorizados o por intermedio de sociedades organizadas como empresas especializadas, con arreglo a criterios de racionalidad económica y eficiencia administrativa que garanticen la rentabilidad y productividad necesarias para el cabal cumplimiento de la finalidad pública y social del monopolio. </li>

	    	    	<li>Vinculación de la renta a los servicios de salud. Toda la actividad que se realice en ejercicio del monopolio, debe tener en cuenta que con ella se financian los servicios de salud y esa es la razón del monopolio.  Se utiliza para contratar directamente con las empresas sociales del Estado o entidades públicas o privadas la prestación de los servicios de salud a la población vinculada, o para la afiliación de dicha población al régimen subsidiado. </li>

	    	</section>
		</div>


		<ul class="accordion show-for-small-up hide-for-large-up" data-accordion>
		  <li class="accordion-navigation">
		    <a href="#panel2a" style="border-radius: 40px; border-style: outset; color:white !important" class="text-center">Organigrama</a>
		    <div id="panel2a" class="content active">
		      <ul class="accordion" data-accordion="myAccordionGroup">
		          <div class="row">
		           <hr>
				    <img src="/assets/org.png">
		          </div>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-navigation">
		    <a href="#panel3a" style="border-radius: 40px; border-style: outset; color:white !important" class="text-center">Misión y Visión</a>
		    <div id="panel3a" class="content">
		      <ul class="accordion" data-accordion="myAccordionGroup">
		          <div class="row  end">
		            <hr>
	            		<img src="/assets/Misión.png">

	            		<p class="text-justify">Somos una empresa administradora y fiscalizadora de los recursos del monopolio rentístico de los juegos de suerte y azar en Caldas, con dedicación y transparencia, buscamos el desarrollo de una cultura en torno a la legalidad en los juegos de suerte y azar en procura de una maximización de los recursos que van dirigidos al cubrimiento de la salud de la población menos favorecida del Departamento.</p>

	            		<hr>

	            		<img src="/assets/Visión.png">
	            		<p class="text-justify">Para finales del <%= Time.now.year %>, seremos reconocidos como modelo de organización en el Departamento, con los más altos estándares de credibilidad, responsabilidad y transparencia en la administración y fiscalización de los recursos del monopolio rentístico de los juegos de suerte y azar.</p>
		          </div>
		      </ul>
		    </div>
		  </li>
		   <li class="accordion-navigation">
		    <a href="#panel4a" style="border-radius: 40px; border-style: outset; color:white !important" class="text-center">Objetivos y Funciones</a>
		    <div id="panel4a" class="content">
		      <ul class="accordion" data-accordion="myAccordionGroup">
		          <div class="row  end">
					
					<h3 class="text-center"> <strong>OBJETIVO PRINCIPAL DE EDSA:</strong></h3>
		        	<p>Ejercer el monopolio (facultad exclusiva del Estado para explotar, organizar, administrar, operar, controlar, fiscalizar, regular y vigilar las modalidades de juegos de suerte y azar (Chance y Rifas), y para establecer las condiciones en las cuales los particulares pueden operarlos, facultad que siempre se debe ejercer como actividad que debe respetar el interés público y social y con fines de arbitrio rentístico a favor de los servicios de salud. </p>
		        	<hr>


		        	<h5><strong>PRINCIPIOS QUE RIGEN LA EXPLOTACIÓN, ORGANIZACIÓN, ADMINISTRACIÓN, OPERACIÓN, FISCALIZACIÓN Y CONTROL DE JUEGOS DE SUERTE Y AZAR</strong></h5> 

		        	<p>La gestión de juegos de suerte y azar se realizará de acuerdo con los siguientes principios: </p>
		        	<ul class="circle">
		    	    	<li>Finalidad social prevalente. Todo juego de suerte y azar debe contribuir eficazmente a la financiación del servicio público de salud, de sus obligaciones prestacionales y pensionales. </li>
		        	
		        		<li>Transparencia. El ejercicio de la facultad monopolística se orientará a garantizar que la operación de los juegos de suerte y azar, esté exenta de fraudes, vicios o intervenciones tendientes a alterar la probabilidad de acertar, o a sustraerla del azar. </li>
		        	
		        		<li>Racionalidad económica en la operación. La operación de juegos de suerte y azar se realizará por las entidades estatales competentes, o por los particulares legalmente autorizados o por intermedio de sociedades organizadas como empresas especializadas, con arreglo a criterios de racionalidad económica y eficiencia administrativa que garanticen la rentabilidad y productividad necesarias para el cabal cumplimiento de la finalidad pública y social del monopolio. </li>

		    	    	<li>Vinculación de la renta a los servicios de salud. Toda la actividad que se realice en ejercicio del monopolio, debe tener en cuenta que con ella se financian los servicios de salud y esa es la razón del monopolio.  Se utiliza para contratar directamente con las empresas sociales del Estado o entidades públicas o privadas la prestación de los servicios de salud a la población vinculada, o para la afiliación de dicha población al régimen subsidiado. </li>

		          </div>
		      </ul>
		    </div>
		  </li>

		</ul>
		<hr>
		<div class="large-12 medium-12 columns">
			<img src="/assets/Plan de Acción.png">
			<br>
			<hr>
			<p class="text-center">El plan de acción de la empresa departamental para la salud EDSA.</p> 

		</div>

		<div class="large-4 large-centered medium-4 medium-centered small-8 small-centered columns end">
			<% @fourth_category.documents.each do |document| %>
			<table>
				 <tr>
					<td class="text-center">
						<%= link_to "#{document.title}", attachment_url(document, :file) %>
					</td>
				</tr>
				<tr>
					<td class="text-center"> 
						<img src="/assets/pdf-icon.png" style="width: 90px; height: 90px;">
					</td>
				</tr>
			    <tr>
			    	<td class="text-center">
			    		Última actualizacion: <strong><%= localize( @fourth_category.updated_at, format: :short) %></strong>
		    		</td>
	    		</tr>
			  
			</table>
		<% end %>
		</div>
	</div>
</div>